.container(ng-show="project")
    form.form-horizontal(name="systemTestForm")
        include ../../main/views/partials/header
        .well
            h2 Create System Test
        include ../../main/views/partials/nav
        .alert.alert-danger.text-center(ng-show="error" role="alert") {{error}}
        .well
            .form-group
                .col-md-2.col-sm-3.col-xs-12.control-label
                    span.glyphicon.glyphicon-asterisk.text-danger.padr
                    label(for="name") Name
                .col-md-10.col-sm-9.col-xs-12
                    input.form-control(name="name", type="text", placeholder="Please enter a system test name...", ng-model="name", required)
                    .alert.alert-danger(role="alert", ng-show="systemTestForm.name.$invalid && systemTestForm.name.$dirty") Please enter a name
            .form-group
                .col-md-2.col-sm-3.col-xs-12.control-label
                    label(for="description") Description
                .col-md-10.col-sm-9.col-xs-12
                    textarea.form-control(name="description", type="text", placeholder="Please enter a system test description...", ng-model="description")
                    .alert.alert-danger(role="alert", ng-show="systemTestForm.description.$invalid && systemTestForm.description.$dirty") Please enter a description
        .alert.alert-danger.text-center(ng-show="error" role="alert") {{error}}
        .pull-right
            span.padr
                button.btn.btn-success(ng-click="submit()", ng-disabled="systemTestForm.$invalid")
                    span.glyphicon.glyphicon-ok.padr
                    span Create
            span
                a.btn.btn-default(ng-href="/p/{{project.code}}/s")
                    span.glyphicon.glyphicon-remove.padr
                    span Cancel