.container(ng-show="project")
    legend.colour6
        span.pull-right {{project.code}}-S{{systemTest.code}}
        h1 System Test
        h2
            span
                a(ng-href="/p/{{project.code}}") {{project.name}}
            span.padr :
            span System Test {{systemTest.code}}
            span.padr :
            span(ng-show="!edit.name")
                a.edit(ng-click="showEdit('name', true)" ng-mouseleave="hover.name = false" ng-mouseover="hover.name = true") {{systemTest.name}}
            span.glyphicon.glyphicon-pencil.small(ng-show="hover.name")
            span(ng-show="edit.name")
                form(name="nameForm")
                    input.form-control(name="systemTest.name" ng-model="systemTest.name" type="text" placeholder="Name" required)
                    button.btn.btn-success(ng-click="submitEdit('name')", ng-disabled="nameForm.$invalid")
                        span.glyphicon.glyphicon-ok
                    a.btn.btn-default(ng-click="cancelEdit('name')")
                        span.glyphicon.glyphicon-remove
    nav.table
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}")
                span.glyphicon.glyphicon-th-list.padr(aria-label="List icon")
                span.small Project
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/r")
                span.glyphicon.glyphicon-gift.padr(aria-label="Gift icon")
                span.small Releases
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/f")
                span.glyphicon.glyphicon-apple.padr(aria-label="Apple icon")
                span.small Features
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/u")
                span.glyphicon.glyphicon-tree-deciduous.padr(aria-label="Tree icon")
                span.small User Stories
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/a")
                span.glyphicon.glyphicon-grain.padr(aria-label="Branch icon")
                span.small Acceptance Tests
        .col-md-2.colour6.padn
            a.box.btn.btn-block.colour6(ng-href="/p/{{project.code}}/s")
                span.glyphicon.glyphicon-leaf.padr(aria-label="Leaf icon")
                span.small System Tests
    .well
        div(ng-show="!edit.description")
            a.edit(ng-click="showEdit('description', true)" ng-mouseleave="hover.description = false" ng-mouseover="hover.description = true")
                span(ng-show="systemTest.description") {{systemTest.description}}
                span.glyphicon.glyphicon-pencil.small(ng-show="hover.description")
                em(ng-cloak ng-show="!systemTest.description") Click to add a description
        div(ng-show="edit.description")
            form(name="descriptionForm")
                textarea.form-control(name="systemTest.description" ng-model="systemTest.description" type="text" placeholder="Description")
                button.btn.btn-success(ng-click="submitEdit('description')", ng-disabled="descriptionForm.$invalid")
                    span.glyphicon.glyphicon-ok
                a.btn.btn-default(ng-click="cancelEdit('description')")
                    span.glyphicon.glyphicon-remove
    .alert.alert-info.text-center(ng-show="!testSteps.length") No test steps found
    .table
        span
            button.box.btn.colour6.padlr(data-target="#ModalAdd" data-toggle="modal")
                span.glyphicon.glyphicon-plus(aria-label="Add icon")
    .fade.modal(id="ModalAdd" role="dialog" ngshow="add")
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    legend.colour6
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                        h4.h1.modal-title Test Step
                .modal-body
                    .row.padb
                        .col-md-1
                            button.box.btn.padlr
                                span.glyphicon.glyphicon-search(aria-label="Search icon")
                        .col-md-2
                            select.form-control
                                option(disabled="disabled" selected="selected" hidden="hidden" value="") Type
                                option(value="Given") Given
                                option(value="When") When
                                option(value="Then") Then
                        .col-md-9
                            input.form-control(type="text")
                    .row
                        .col-md-12
                            span Results
                    .row
                        .col-md-12
                            select.form-control
                .modal-footer
                    span.padr
                        button.btn.btn-success(ng-click="", ng-disabled="")
                            span.glyphicon.glyphicon-ok.padr
                            span Add
                    span
                        a.btn.btn-default(data-dismiss="modal")
                            span.glyphicon.glyphicon-remove.padr
                            span Cancel