.container(ng-show="project")
    include ../../main/views/partials/header
    .well
        h2 {{project.name}} System Tests
    include ../../main/views/partials/nav
    .alert.alert-info.text-center(ng-show="!systemTests.length") No system tests found
    table.table.table-hover.table-striped.table-condensed
        tbody(ng-repeat="systemTest in systemTests")
            tr.clickable-row.row(ng-click="goTo(systemTest.code)")
                td.col-md-2
                    a.btn.btn-xs.colour6(ng-href="/p/{{project.code}}/s/{{systemTest.code}}")
                        {{project.code}}:S{{systemTest.code}}
                td.col-md-5
                    a(ng-href="/p/{{project.code}}/s/{{systemTest.code}}")
                        div {{systemTest.name}}
                td.col-md-5
                    a(ng-href="/p/{{project.code}}/s/{{systemTest.code}}")
                        div {{systemTest.description | limitTo: 100}}{{systemTest.description.length &gt; 100 ? '...' : ''}}