.container(ng-show="project")
    legend.colour5
        span.pull-right {{project.code}}-{{feature.code}}-A{{acceptanceTest.code}}
        h1 Acceptance Test
        h2
            span
                a(ng-href="/p/{{project.code}}") {{project.name}}
            span.padr :
            span
                a(ng-href="/p/{{project.code}}/f/{{feature.code}}") {{feature.name}}
            span.padr :
            span Acceptance Test {{acceptanceTest.code}}
    nav.table
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}")
                span.glyphicon.glyphicon-th-list.padr(aria-label="List icon")
                span.small Project
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/r")
                span.glyphicon.glyphicon-gift.padr(aria-label="Gift icon")
                span.small Releases
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/f/{{feature.code}}")
                span.glyphicon.glyphicon-apple.padr(aria-label="Apple icon")
                span.small Feature
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/f/{{feature.code}}/u")
                span.glyphicon.glyphicon-tree-deciduous.padr(aria-label="Tree icon")
                span.small User Stories
        .col-md-2.colour5.padn
            a.box.btn.btn-block.colour5(ng-href="/p/{{project.code}}/f/{{feature.code}}/a")
                span.glyphicon.glyphicon-grain.padr(aria-label="Branch icon")
                span.small Acceptance Tests
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/f/{{feature.code}}/s")
                span.glyphicon.glyphicon-leaf.padr(aria-label="Leaf icon")
                span.small System Tests
    .well
        .test-step(ng-show="!edit.given")
            a.edit(ng-click="showEdit('given', true)" ng-mouseleave="hover.given = false" ng-mouseover="hover.given = true")
                span.test-step-type(ng-show="acceptanceTest.given") Given
                span.test-step-argument-text #{' '}{{acceptanceTest.given}}
                span.glyphicon.glyphicon-pencil.small(ng-show="hover.given")
        .test-step(ng-show="edit.given")
            form(name="givenForm")
                span.test-step-type Given
                textarea.form-control(name="acceptanceTest.given" ng-model="acceptanceTest.given" type="text" placeholder="Given")
                button.btn.btn-success(ng-click="submitEdit('given')", ng-disabled="givenForm.$invalid")
                    span.glyphicon.glyphicon-ok
                a.btn.btn-default(ng-click="cancelEdit('given')")
                    span.glyphicon.glyphicon-remove
        .test-step(ng-show="!edit.when")
            a.edit(ng-click="showEdit('when', true)" ng-mouseleave="hover.when = false" ng-mouseover="hover.when = true")
                span.test-step-type(ng-show="acceptanceTest.when") When
                span.test-step-argument-text #{' '}{{acceptanceTest.when}}
                span.glyphicon.glyphicon-pencil.small(ng-show="hover.when")
        .test-step(ng-show="edit.when")
            form(name="whenForm")
                span.test-step-type When
                textarea.form-control(name="acceptanceTest.when" ng-model="acceptanceTest.when" type="text" placeholder="When")
                button.btn.btn-success(ng-click="submitEdit('when')", ng-disabled="whenForm.$invalid")
                    span.glyphicon.glyphicon-ok
                a.btn.btn-default(ng-click="cancelEdit('when')")
                    span.glyphicon.glyphicon-remove
        .test-step(ng-show="!edit.then")
            a.edit(ng-click="showEdit('then', true)" ng-mouseleave="hover.then = false" ng-mouseover="hover.then = true")
                span.test-step-type(ng-show="acceptanceTest.then") Then
                span.test-step-argument-text #{' '}{{acceptanceTest.then}}
                span.glyphicon.glyphicon-pencil.small(ng-show="hover.then")
        .test-step(ng-show="edit.then")
            form(name="thenForm")
                span.test-step-type Then
                textarea.form-control(name="acceptanceTest.then" ng-model="acceptanceTest.then" type="text" placeholder="Then")
                button.btn.btn-success(ng-click="submitEdit('then')", ng-disabled="thenForm.$invalid")
                    span.glyphicon.glyphicon-ok
                a.btn.btn-default(ng-click="cancelEdit('then')")
                    span.glyphicon.glyphicon-remove