colour1 = #ac7ea9
colour2 = colour1 + 50deg
colour3 = colour2 + 50deg
colour4 = colour3 + 50deg
colour5 = colour4 + 50deg
colour6 = colour5 + 50deg

column1 = #999
column2 = #888
column3 = #777
column4 = #666
column5 = #555
column6 = #444

draggableHoverColour = #eee

spacing = 1em

testStepArgumentValueNotSupplied = #c7254e
testStepArgumentValueSupplied = #3b7316
testStepType = #00f

textColour = #fff

a
a:hover
    color inherit

a.edit
    cursor text

a.edit:hover
    text-decoration none

.as-sortable-placeholder
.draggable:hover
    background-color draggableHoverColour
    cursor move

body
    padding-top 50px

.box
    font-size 120%
    padding 0.5em 0 0.5em 0
    
.centre
    text-align center

.colour1
    background-color colour1
    color textColour

.colour2
    background-color colour2
    color textColour

.colour3
    background-color colour3
    color textColour

.colour4
    background-color colour4
    color textColour

.colour5
    background-color colour5
    color textColour

.colour6
    background-color colour6
    color textColour

.column1
    background-color column1
    color textColour

.column2
    background-color column2
    color textColour

.column3
    background-color column3
    color textColour

.column4
    background-color column4
    color textColour

.column5
    background-color column5
    color textColour

.column6
    background-color column6
    color textColour

h1
.h1
    font-size 120%
    margin 0

h2
.h2
    font-size 90%
    margin 0

h3
.h3
    font-size 80%
    margin 0

.i
    font-style italic

.nav a.btn
    color #fff !important
    
.navbar-header a.navbar-brand
    margin-top -15px
    margin-bottom -20px

[ng\:cloak]
[ng-cloak]
[data-ng-cloak]
[x-ng-cloak]
.ng-cloak,
.x-ng-cloak
    display none !important
    
footer
    padding-left 15px
    padding-right 15px
    p
        margin-top 10px
        border-top 1px solid black
    img
        width 10pc
        height 10pc

legend
    border-bottom 0
    margin-bottom 0
    padding spacing

.mono
.test-step
    font-family Menlo, Monaco, Consolas, "Courier New", monospace

.pad
    padding spacing

.padb
    padding-bottom spacing

.padbt
    padding-bottom spacing
    padding-top spacing

.padl
    padding-left spacing

.padlr
    padding-left spacing
    padding-right spacing

.padn
    padding 0

.padr
    padding-right spacing

.padt
    padding-top spacing

.quote
    color #ccc
    font-family fantasy
    
.quoteperson
    margin-left: 50px;

.navbar-form
    .form-group
        margin-left 10px
    button
        margin-left 10px

.right
    text-align right

small
.small
    color inherit !important

.table
    display table

.test-step
    padding-bottom spacing

.test-step-argument-name-table-header
    background-color colour6
    color textColour

.test-step-argument-value-not-supplied
    color testStepArgumentValueNotSupplied
    
.test-step-argument-value-supplied
    color testStepArgumentValueSupplied

.test-step-type
    color testStepType

.toast-top-right
    top: 70px

.toast-success
    background-color orange