a,
a:hover {
  color: inherit;
}
a.edit:hover {
  text-decoration: none;
}
body {
  padding-top: 50px;
}
.box {
  font-size: 120%;
  padding: 0.5em 0 0.5em 0;
}
.colour1 {
  background-color: #ac7ea9;
  color: #fff;
}
.colour2 {
  background-color: #ac7e83;
  color: #fff;
}
.colour3 {
  background-color: #ac9f7e;
  color: #fff;
}
.colour4 {
  background-color: #93ac7e;
  color: #fff;
}
.colour5 {
  background-color: #7eac8f;
  color: #fff;
}
.colour6 {
  background-color: #7ea3ac;
  color: #fff;
}
.column1 {
  background-color: #999;
  color: #fff;
}
.column2 {
  background-color: #888;
  color: #fff;
}
.column3 {
  background-color: #777;
  color: #fff;
}
.column4 {
  background-color: #666;
  color: #fff;
}
.column5 {
  background-color: #555;
  color: #fff;
}
.column6 {
  background-color: #444;
  color: #fff;
}
h1,
.h1 {
  font-size: 120%;
  margin: 0;
}
h2,
.h2 {
  font-size: 90%;
  margin: 0;
}
.nav a.btn {
  color: #fff !important;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  margin-top: 10px;
  border-top: 1px solid #000;
}
footer img {
  width: 10pc;
  height: 10pc;
}
.pad,
legend {
  padding: 1em;
}
.padb {
  padding-bottom: 1em;
}
.padbt {
  padding-bottom: 1em;
  padding-top: 1em;
}
.padl {
  padding-left: 1em;
}
.padlr {
  padding-left: 1em;
  padding-right: 1em;
}
.padn {
  padding: 0;
}
.padr {
  padding-right: 1em;
}
.padt {
  padding-top: 1em;
}
.quote {
  color: #ccc;
  font-family: fantasy;
}
.quoteperson {
  margin-left: 50px;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
small,
.small {
  color: inherit !important;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #ffa500;
}
