a,
a:hover {
  color: inherit;
}
a.edit {
  cursor: text;
}
a.edit:hover {
  text-decoration: none;
}
.as-sortable-item-handle {
  cursor: inherit;
}
.as-sortable-placeholder,
.draggable:hover {
  background-color: #eee;
  cursor: move;
}
body {
  padding-top: 50px;
}
.box {
  font-size: 120%;
  padding: 0.5em 0 0.5em 0;
}
.centre {
  text-align: center;
}
.colour1 {
  background-color: #ac7ea9;
  color: #fff;
}
.colour2 {
  background-color: #ac7e83;
  color: #fff;
}
.colour3 {
  background-color: #ac9f7e;
  color: #fff;
}
.colour4 {
  background-color: #93ac7e;
  color: #fff;
}
.colour5 {
  background-color: #7eac8f;
  color: #fff;
}
.colour6 {
  background-color: #7ea3ac;
  color: #fff;
}
.column1 {
  background-color: #999;
  color: #fff;
}
.column2 {
  background-color: #888;
  color: #fff;
}
.column3 {
  background-color: #777;
  color: #fff;
}
.column4 {
  background-color: #666;
  color: #fff;
}
.column5 {
  background-color: #555;
  color: #fff;
}
.column6 {
  background-color: #444;
  color: #fff;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  margin-top: 10px;
  border-top: 1px solid #000;
}
footer img {
  width: 10pc;
  height: 10pc;
}
h1,
.h1 {
  font-size: 120%;
  margin: 0;
}
h2,
.h2 {
  font-size: 90%;
  margin: 0;
}
h3,
.h3 {
  font-size: 80%;
  margin: 0;
}
.i {
  font-style: italic;
}
legend {
  border-bottom: 0;
  margin-bottom: 0;
  padding: 1em;
}
.mono,
.test-step {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
nav {
  padding-bottom: 1em;
}
.nav a.btn {
  color: #fff !important;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.pad {
  padding: 1em;
}
.padb {
  padding-bottom: 1em;
}
.padbt {
  padding-bottom: 1em;
  padding-top: 1em;
}
.padl {
  padding-left: 1em;
}
.padlr {
  padding-left: 1em;
  padding-right: 1em;
}
.padn {
  padding: 0;
}
.padr {
  padding-right: 1em;
}
.padt {
  padding-top: 1em;
}
.quote {
  color: #ccc;
  font-family: fantasy;
}
.quoteperson {
  margin-left: 50px;
}
.right {
  text-align: right;
}
section {
  padding-bottom: 1em;
}
small,
.small {
  color: inherit !important;
}
.table {
  display: table;
  margin-bottom: inherit;
  table-layout: fixed;
  width: 100%;
}
.table > .table-row {
  display: table-row;
}
.table > .table-row > .table-cell {
  display: table-cell;
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: top;
}
.test-step {
  padding-bottom: 1em;
}
.test-step-argument-name-table-header .table-cell {
  background-color: #999;
  border: 1px solid #888;
  color: #fff;
}
.test-step-argument-value-not-supplied {
  color: #c7254e;
}
.test-step-argument-value-supplied {
  color: #3b7316;
}
.test-step-argument-value-table-cell {
  border: 1px solid #888;
}
.test-step-type {
  color: #00f;
}
.toast-success {
  background-color: #ffa500;
}
.toast-top-right {
  top: 70px;
}
