colour1 = #ac7ea9
colour2 = colour1 + 50deg
colour3 = colour2 + 50deg
colour4 = colour3 + 50deg
colour5 = colour4 + 50deg
colour6 = colour5 + 50deg
text = #fff

a
a:hover
    color inherit

a.edit:hover
    text-decoration none

body
    padding-top 50px

.box
    font-size 120%
    padding 0.5em 0 0.5em 0

.colour1
    background-color colour1
    color text

.colour2
    background-color colour2
    color text

.colour3
    background-color colour3
    color text

.colour4
    background-color colour4
    color text

.colour5
    background-color colour5
    color text

.colour6
    background-color colour6
    color text

h1
.h1
    font-size 120%
    margin 0

h2
.h2
    font-size 90%
    margin 0

.nav a.btn
    color #fff !important
    
.navbar-header a.navbar-brand
    margin-top -15px
    margin-bottom -20px

[ng\:cloak]
[ng-cloak]
[data-ng-cloak]
[x-ng-cloak]
.ng-cloak,
.x-ng-cloak
    display none !important
    
footer
    padding-left 15px
    padding-right 15px
    p
        margin-top 10px
        border-top 1px solid black
    img
        width 10pc
        height 10pc

.pad
legend
    padding 1em

.padb
    padding-bottom 1em

.padbt
    padding-bottom 1em
    padding-top 1em

.padl
    padding-left 1em

.padlr
    padding-left 1em
    padding-right 1em

.padn
    padding 0

.padr
    padding-right 1em

.padt
    padding-top 1em

.quote
    color #ccc
    font-family fantasy
    
.quoteperson
    margin-left: 50px;
    
.navbar-form
    .form-group
        margin-left 10px
    button
        margin-left 10px

small
.small
    color inherit !important

.toast-top-right
    top: 70px

.toast-success
    background-color orange
    