colour1 = #ac7ea9
colour2 = colour1 + 50deg
colour3 = colour2 + 50deg
colour4 = colour3 + 50deg
colour5 = colour4 + 50deg
colour6 = colour5 + 50deg

column1 = #999
column2 = #888
column3 = #777
column4 = #666
column5 = #555
column6 = #444

disabledDefaultColour = #999
disabledHoverColour = #f00

draggableHoverColour = #eee

fontFamily = 'Roboto Condensed', sans-serif

spacing = 1em

testStepArgumentValueNotSupplied = #c7254e
testStepArgumentValueSupplied = #3b7316
testStepType = #00f

textColour = #fff

a
a:hover
    color inherit

a.edit
    cursor text

a.edit:hover
    text-decoration none

.as-sortable-item-handle
    cursor inherit

.as-sortable-placeholder
.draggable:hover
    background-color draggableHoverColour
    cursor move

body
    padding-top 50px

.box
    font-size 120%
    padding 0.5em 0 0.5em 0

.btn:disabled
    background-color transparent
    border-color disabledDefaultColour
    color disabledDefaultColour

    &:hover
        background-color transparent
        border-color disabledHoverColour
        color disabledHoverColour

.centre
    text-align center

.colour1
    background-color colour1
    color textColour

.colour2
    background-color colour2
    color textColour

.colour3
    background-color colour3
    color textColour

.colour4
    background-color colour4
    color textColour

.colour5
    background-color colour5
    color textColour

.colour6
    background-color colour6
    color textColour

.column1
    background-color column1
    color textColour

.column2
    background-color column2
    color textColour

.column3
    background-color column3
    color textColour

.column4
    background-color column4
    color textColour

.column5
    background-color column5
    color textColour

.column6
    background-color column6
    color textColour

div
p
    font-family fontFamily

footer
    padding-left 15px
    padding-right 15px

    p
        margin-top 10px
        border-top 1px solid black

    img
        width 10pc
        height 10pc

h1
h2
h3
h4
h5
h6
.h1
.h2
.h3
.h4
.h5
.h6
    font-family fontFamily
    font-size 130%
    margin 0

.i
    font-style italic

.jumbotron
    text-align center

.mono
.test-step
    font-family Menlo, Monaco, Consolas, "Courier New", monospace

.nav > li > *
    padding-left 1em
    padding-right 1em

.navbar > .container > .navbar-header > a.navbar-brand
    margin-top inherit

.navbar-brand:focus
.navbar-brand:hover
    text-decoration underline

.navbar-form

    .form-group
        margin-left 10px

    button
        margin-left 10px

.navbar-header a.navbar-brand
    margin-top -15px
    margin-bottom -20px

.navbar-nav > li

    display inline-block
    float none

    > a
        padding-bottom 12.5px
        padding-top 12.5px

    > a:focus
    > a:hover
        background-color inherit
        color textColour
        text-decoration underline

.nav.navbar-nav > li.open > a
    background-color inherit

[ng\:cloak]
[ng-cloak]
[data-ng-cloak]
[x-ng-cloak]
.ng-cloak,
.x-ng-cloak
    display none !important

.pad
    padding spacing

.padb
    padding-bottom spacing

.padbt
    padding-bottom spacing
    padding-top spacing

.padl
    padding-left spacing

.padlr
    padding-left spacing
    padding-right spacing

.padn
    padding 0

.padr
    padding-right spacing

.padt
    padding-top spacing

.quote
    color #ccc
    font-family fantasy
    
.quoteperson
    margin-left: 50px;

.right
    text-align right

section
    padding-bottom spacing

small
.small
    color inherit !important

.table
    display table
    margin-bottom inherit
    table-layout fixed
    width 100%

    > .table-row
        display table-row
        
        > .table-cell
            display table-cell
            padding-left spacing
            padding-right spacing
            vertical-align top

.test-step
    padding-bottom spacing

.test-step-argument-name-table-header

    .table-cell
        background-color column1
        border 1px solid column2
        color textColour

.test-step-argument-value-not-supplied
    color testStepArgumentValueNotSupplied
    
.test-step-argument-value-supplied
    color testStepArgumentValueSupplied

.test-step-argument-value-table-cell
    border 1px solid column2

.test-step-type
    color testStepType

.toast-success
    background-color orange

.toast-top-right
    top 70px