.container(ng-show="project")
    form.form-horizontal(name="userStoryForm")
        include ../../main/views/partials/header
        .well
            h2 Create User Story
        include ../../main/views/partials/nav
        .alert.alert-danger.text-center(ng-show="error" role="alert") {{error}}
        .well
            .form-group
                .col-md-2.control-label
                    span.glyphicon.glyphicon-asterisk.text-danger.padr
                    label(for="asA") As a
                .col-md-10
                    input.form-control(name="asA", type="text", placeholder="user of the feature", ng-model="asA", required)
            .form-group
                .col-md-2.control-label
                    span.glyphicon.glyphicon-asterisk.text-danger.padr
                    label(for="iWant") I want
                .col-md-10
                    input.form-control(name="iWant", type="text", placeholder="to perform an action", ng-model="iWant", required)
            .form-group
                .col-md-2.control-label
                    span.glyphicon.glyphicon-asterisk.text-danger.padr
                    label(for="soThat") So that
                .col-md-10
                    input.form-control(name="soThat", type="text", placeholder="an expected result occurs", ng-model="soThat", required)
        .alert.alert-danger.text-center(ng-show="error" role="alert") {{error}}
        .col-md-10.col-md-offset-2
            .pull-right
                span.padr
                    button.btn.btn-success(ng-click="submit()", ng-disabled="userStoryForm.$invalid")
                        span.glyphicon.glyphicon-ok.padr
                        span Create
                span
                    a.btn.btn-default(ng-href="{{feature.code ? '/p/' + project.code + '/f/' + feature.code + '/u' : '/p/' + project.code + '/u'}}")
                        span.glyphicon.glyphicon-remove.padr
                        span Cancel