.container(ng-show="project")
    include ../../main/views/partials/header
    .well
        h2 {{feature.name}} User Stories
    include ../../main/views/partials/nav
    .alert.alert-info.text-center(ng-show="!userStories.length") No user stories found
    table.table.table-hover.table-striped.table-condensed
        tbody(ng-repeat="userStory in userStories")
            tr.clickable-row.row(ng-click="goTo(userStory.code)")
                td.col-md-2
                    a.btn.btn-xs.colour4(ng-href="/p/{{project.code}}/f/{{feature.code}}/u/{{userStory.code}}")
                        {{project.code}}-{{feature.code}}#U{{userStory.code}}
                td.col-md-10
                    a(ng-href="/p/{{project.code}}/f/{{feature.code}}/u/{{userStory.code}}")
                        div As a{{userStory.asA ? (['a', 'e', 'i', 'o', 'u'].indexOf(userStory.asA.toLowerCase()[0]) !== -1 ? 'n' : '') : ''}} {{userStory.asA}}
                        div I want {{userStory.iWant}}
                        div So that {{userStory.soThat}}