.container
    .well
        fieldset
            legend.colour4
                h1
                    span User Stories
                    a.btn.btn-default.pull-right(ng-href="/c/p/{{project.code}}/f/{{feature.code}}/u")
                        span.glyphicon.glyphicon-plus.padr
                        span Create
                h2
                    span.glyphicon.glyphicon-apple.padr
                    span
                        a(ng-href="/p/{{project.code}}") {{project.name}}
                    span.padr :
                    span
                        a(ng-href="/p/{{project.code}}/f/{{feature.code}}") {{feature.name}}
            table.table.table-hover.table-striped.table-condensed
                tbody(ng-repeat="userStory in userStories")
                    tr
                        td
                            a(ng-href="/p/{{project.code}}/f/{{feature.code}}/u/{{userStory.code}}") {{userStory.code}}
                        td
                            div As a{{userStory.asA ? (['a', 'e', 'i', 'o', 'u'].indexOf(userStory.asA.toLowerCase()[0]) !== -1 ? 'n' : '') : ''}} {{userStory.asA}}
                            div I can {{userStory.iCan}}
                            div So that {{userStory.soThat}}
                        td
                            .dropdown.pull-right
                                a.btn.btn-default(ng-href="/p/{{project.code}}/f/{{feature.code}}/u/{{userStory.code}}")
                                    span.glyphicon.glyphicon-tree-deciduous
                                button.btn.btn-default.dropdown-toggle(aria-haspopup="true", aria-expanded="true", data-toggle="dropdown", type="button")
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(ng-href="/p/{{project.code}}/f/{{feature.code}}/u/{{userStory.code}}")
                                            span.glyphicon.glyphicon-tree-deciduous.padr
                                            span Manage
                                    li.divider(role="separator")
                                    li
                                        a(href="#")
                                            span.glyphicon.glyphicon-grain.padr
                                            span Acceptance Tests
                                    li
                                        a(href="#")
                                            span.glyphicon.glyphicon-leaf.padr
                                            span System Tests