.container
    .well
        fieldset
            legend.colour3
                h1
                    span User Story
                    span.pull-right {{project.code}}-{{feature.code}}-{{userStory.code}}
                h2
                    span.glyphicon.glyphicon-apple.padr
                    span
                        a(ng-href="/p/{{project.code}}") {{project.name}}
                    span.padr :
                    span
                        a(ng-href="/p/{{project.code}}/f/{{feature.code}}") {{feature.name}}
                    span.padr :
                    span User Story {{userStory.code}}
            div(ng-show="!edit.asA")
                a.edit(ng-click="showEdit('asA', true)" ng-mouseleave="hover.asA = false" ng-mouseover="hover.asA = true")
                    span(ng-show="userStory.asA") As a {{userStory.asA}}
                    span.glyphicon.glyphicon-pencil.small(ng-show="hover.asA")
            div(ng-show="edit.asA")
                form(name="asAForm")
                    span As a
                    textarea.form-control(name="userStory.asA" ng-model="userStory.asA" type="text" placeholder="As a")
                    button.btn.btn-success(ng-click="submitEdit('asA')", ng-disabled="asAForm.$invalid")
                        span.glyphicon.glyphicon-ok
                    a.btn.btn-default(ng-click="cancelEdit('asA')")
                        span.glyphicon.glyphicon-remove
            div(ng-show="!edit.iCan")
                a.edit(ng-click="showEdit('iCan', true)" ng-mouseleave="hover.iCan = false" ng-mouseover="hover.iCan = true")
                    span(ng-show="userStory.iCan") I can {{userStory.iCan}}
                    span.glyphicon.glyphicon-pencil.small(ng-show="hover.iCan")
            div(ng-show="edit.iCan")
                form(name="iCanForm")
                    span I can
                    textarea.form-control(name="userStory.iCan" ng-model="userStory.iCan" type="text" placeholder="I can")
                    button.btn.btn-success(ng-click="submitEdit('iCan')", ng-disabled="iCanForm.$invalid")
                        span.glyphicon.glyphicon-ok
                    a.btn.btn-default(ng-click="cancelEdit('iCan')")
                        span.glyphicon.glyphicon-remove
            .padb(ng-show="!edit.soThat")
                a.edit(ng-click="showEdit('soThat', true)" ng-mouseleave="hover.soThat = false" ng-mouseover="hover.soThat = true")
                    span(ng-show="userStory.soThat") So that {{userStory.soThat}}
                    span.glyphicon.glyphicon-pencil.small(ng-show="hover.soThat")
            .padb(ng-show="edit.soThat")
                form(name="soThatForm")
                    span So that
                    textarea.form-control(name="userStory.soThat" ng-model="userStory.soThat" type="text" placeholder="So that")
                    button.btn.btn-success(ng-click="submitEdit('soThat')", ng-disabled="soThatForm.$invalid")
                        span.glyphicon.glyphicon-ok
                    a.btn.btn-default(ng-click="cancelEdit('soThat')")
                        span.glyphicon.glyphicon-remove                            
            .padb
                .col-md-2.colour5.padn
                    a.btn.btn-block.colour5(href="#")
                        .box Acceptance Tests
                        .box
                            span.glyphicon.glyphicon-grain(aria-label="Branch icon")
                        .box 0
                .col-md-2.colour6.padn
                    a.btn.btn-block.colour6(href="#")
                        .box System Tests
                        .box
                            span.glyphicon.glyphicon-leaf(aria-label="Leaf icon")
                        .box 0