.container
    .well
        a.btn.btn-success(href="/release/create")
            span.glyphicon.glyphicon-plus
            span &nbsp; Create
    .well
        fieldset
            legend View Releases
            .pad
                .form-group
                    strong.col-md-5 Name
                    strong.col-md-7 Description
            div(ng-repeat="release in releases")
                .form-group
                    .col-md-5
                        {{release.name}}
                    .col-md-7
                        {{release.description}}