.container
    .well
        form.form-horizontal(name="projectForm")
            fieldset
                legend
                    h1
                        span.glyphicon.glyphicon-th-list.padr
                        span Create a project
                .form-group
                    .col-md-2.control-label
                        span.glyphicon.glyphicon-asterisk.text-danger.padr
                        label(for="feature") Name
                    .col-md-10
                        input.form-control(name="name", type="text", placeholder="Name that project", ng-model="name", required)
                .form-group
                    .col-md-2.control-label
                        span.glyphicon.glyphicon-asterisk.text-danger.padr
                        label(for="feature") Code
                    .col-md-10
                        input.form-control(name="code", type="text", placeholder="Project code (used in URLs)", ng-model="code", ng-pattern="/^[a-zA-Z0-9]+$/" required)
                        .alert.alert-danger(role="alert", ng-show="projectForm.code.$invalid && projectForm.code.$dirty") The project code may only contain the following characters:
                            ul
                                li Lowercase: a-z
                                li Uppercase: A-Z
                                li Digit: 0-9
                .form-group
                    label.col-md-2.control-label(for="description") Description
                    .col-md-10
                        textarea.form-control(name="description", type="text", placeholder="Brief project description", ng-model="description")
                .form-group(ng-show="error != null")
                    .alert.alert-danger.text-center(role="alert") {{error}}
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            span.padr
                                button.btn.btn-success(ng-click="submit()", ng-disabled="projectForm.$invalid")
                                    span.glyphicon.glyphicon-ok.padr
                                    span Create
                            span
                                a.btn.btn-default(href="/p") Cancel