.container
    form.form-horizontal(name="projectForm")
        .colour1.pad.row
            .col-md-1
                span.h1
                    a(href="/p")
                        span.glyphicon.glyphicon-th-list.padr
            .col-md-11
                h1
                    a(href="/p") Project
        include ../../main/views/partials/nav
        .alert.alert-danger.text-center(ng-show="error" role="alert") {{error}}
        .well
            .form-group
                .col-md-2.control-label
                    span.glyphicon.glyphicon-asterisk.text-danger.padr
                    label(for="feature") Name
                .col-md-10
                    input.form-control(name="name", type="text", placeholder="Name that project", ng-model="name", required)
            .form-group
                .col-md-2.control-label
                    span.glyphicon.glyphicon-asterisk.text-danger.padr
                    label(for="code") Code
                .col-md-10
                    input.form-control(name="code", type="text", placeholder="Project code (used in URLs)", ng-model="code", ng-pattern="/^[a-zA-Z0-9.]+$/" required)
                    .alert.alert-danger(role="alert", ng-show="projectForm.code.$invalid && projectForm.code.$dirty") The project code may only contain the following characters:
                        ul
                            li Lowercase: a-z
                            li Uppercase: A-Z
                            li Digit: 0-9
                            li Full stop: .
            .form-group
                label.col-md-2.control-label(for="description") Description
                .col-md-10
                    textarea.form-control(name="description", type="text", placeholder="Brief project description", ng-model="description")
        .row
            .col-md-6
                .panel.panel-primary
                    .panel-heading.text-center Available Users
                    .panel-body
                        .row(ng-repeat="user in users")
                            div(ng-hide="isMember(user.username)")
                                .col-md-5 {{user.username}}
                                .col-md-5 {{user.firstname + ' ' + user.lastname}}
                                .col-md-2
                                    .pull-right
                                        button.btn.btn-primary(ng-click="addMember(user.username)")
                                            span.glyphicon.glyphicon-plus
            .col-md-6
                .panel.panel-primary
                    .panel-heading.text-center Project Members
                    .panel-body
                        .row(ng-repeat="user in users")
                            div(ng-show="isMember(user.username)")
                                .col-md-5 {{user.username}}
                                .col-md-5 {{user.firstname + ' ' + user.lastname}}
                                .col-md-2
                                    .pull-right
                                        button.btn.btn-danger(ng-click="removeMember(user.username)")
                                            span.glyphicon.glyphicon-minus
        .alert.alert-danger.text-center(ng-show="error" role="alert") {{error}}
        .col-md-10.col-md-offset-2
            .pull-right
                span.padr
                    button.btn.btn-success(ng-click="submit()", ng-disabled="projectForm.$invalid")
                        span.glyphicon.glyphicon-ok.padr
                        span Create
                span
                    a.btn.btn-default(href="/p")
                        span.glyphicon.glyphicon-remove.padr
                        span Cancel