.container(ng-show="projects")
    include ../../main/views/partials/header
    .alert.alert-info.text-center(ng-show="!projects.length") No projects found
    table.table.table-hover.table-striped.table-condensed(ng-show="projects.length")
        tbody(ng-repeat="project in projects")
            tr.clickable-row.row(
                ng-click="goTo(project.code)"
                ng-show="project.isMember()"
            )
                td.col-md-6
                    a(ng-href="/p/{{project.code}}")
                        div {{project.name}}
                td.col-md-6
                    a(ng-href="/p/{{project.code}}")
                        div {{project.description | limitTo: 100}}{{project.description.length &gt; 100 ? '...' : ''}}
include partials/import-project