.container
    .well
        fieldset
            legend.padlr
                h1
                    small
                        span.glyphicon.glyphicon-th-list.padr
                        span {{project.name}}
            .padb
                span {{project.description}}
            .padb
                .col-md-2.colour2.padn
                    a.btn.btn-block.colour2(href="/release/{{project._id}}")
                        h2
                            small Releases
                        h3
                            span.glyphicon.glyphicon-gift(aria-label="Gift icon")
                        h4 {{release.count}}
                .col-md-2.colour3.padn
                    a.btn.btn-block.colour3(href="#")
                        h2
                            small Features
                        h3
                            span.glyphicon.glyphicon-apple(aria-label="Apple icon")
                        h4 0
                .col-md-2.colour4.padn
                    a.btn.btn-block.colour4(href="#")
                        h2
                            small User Stories
                        h3
                            span.glyphicon.glyphicon-tree-deciduous(aria-label="Tree icon")
                        h4 0
                .col-md-2.colour5.padn
                    a.btn.btn-block.colour5(href="#")
                        h2
                            small Acceptance Tests
                        h3
                            span.glyphicon.glyphicon-grain(aria-label="Branch icon")
                        h4 0
                .col-md-2.colour6.padn
                    a.btn.btn-block.colour6(href="#")
                        h2
                            small System Tests
                        h3
                            span.glyphicon.glyphicon-leaf(aria-label="Leaf icon")
                        h4 0