li
    a.h1(href="/p")
        span.glyphicon.glyphicon-th-list
li
    h1
        a(href="/p") Project
li(ng-if="project")
    h3 {{project.code}}
li.padl(ng-if="!project")
    a.btn.btn-default(href="/c/p")
        span.glyphicon.glyphicon-plus.padr
        span Create