li
    a.h1(ng-href="/p/{{project.code}}/f")
        span.glyphicon.glyphicon-apple
li
    h1
        a(ng-href="/p/{{project.code}}/f") Feature
li(ng-if="project && feature")
    h3 {{project.code}}-{{feature.code}}
li.padl(ng-if="project")
    a(ng-href="/c/p/{{project.code}}/f")
        span.glyphicon.glyphicon-plus.padr
        span Create