li
    a.h1(ng-href="/p/{{project.code}}/f/{{feature.code}}/a")
        span.glyphicon.glyphicon-grain
li
    h1
        a(ng-href="/p/{{project.code}}/f/{{feature.code}}/a") Acceptance Test
li(ng-if="project && feature && acceptanceTest")
    h3 {{project.code}}-{{feature.code}}#A{{acceptanceTest.code}}
li.padl(ng-if="project && feature")
    a(ng-href="/c/p/{{project.code}}/f/{{feature.code}}/a")
        span.glyphicon.glyphicon-plus.padr
        span Create