.container(ng-show="project")
    form.form-horizontal(name="featureForm")
        include ../../main/views/partials/header
        .well
            h2 Create Feature
        include ../../main/views/partials/nav
        .alert.alert-danger.text-center(ng-show="error" role="alert") {{error}}
        .well
            .form-group
                .col-md-2.col-sm-3.col-xs-12.control-label
                    span.glyphicon.glyphicon-asterisk.text-danger.padr
                    label(for="name") Name
                .col-md-10.col-sm-9.col-xs-12
                    input.form-control(name="name", type="text", placeholder="Please enter a feature name...", ng-model="name", required)
                    .alert.alert-danger(role="alert", ng-show="featureForm.name.$invalid && featureForm.name.$dirty") Please enter a name
            .form-group
                .col-md-2.col-sm-3.col-xs-12.control-label
                    span.glyphicon.glyphicon-asterisk.text-danger.padr
                    label(for="code") Code
                .col-md-10.col-sm-9.col-xs-12
                    input.form-control(name="code", type="text", placeholder="Feature code (used in URLs)", ng-model="code", ng-pattern="/^[a-zA-Z0-9]+$/" required)
                    .alert.alert-danger(role="alert", ng-show="featureForm.code.$invalid && featureForm.code.$dirty") The project code may only contain the following characters:
                        ul
                            li Lowercase: a-z
                            li Uppercase: A-Z
                            li Digit: 0-9
            .form-group
                label.col-md-2.col-sm-3.col-xs-12.control-label(for="description") Description
                .col-md-10.col-sm-9.col-xs-12
                    textarea.form-control(name="description", type="text", placeholder="Please enter a feature description...", ng-model="description")
                    .alert.alert-danger(role="alert", ng-show="featureForm.description.$invalid && featureForm.description.$dirty") Please enter a name
        .alert.alert-danger.text-center(ng-show="error" role="alert") {{error}}
        .pull-right
            span.padr
                button.btn.btn-success(ng-click="submit()", ng-disabled="featureForm.$invalid")
                    span.glyphicon.glyphicon-ok.padr
                    span Create
            span
                a.btn.btn-default(ng-href="/p/{{project.code}}/f")
                    span.glyphicon.glyphicon-remove.padr
                    span Cancel