.container
    .well
        fieldset
            legend.colour3.pad
                span.glyphicon.glyphicon-apple &nbsp; Features
                a.btn.btn-default.pull-right(ng-href="/c/p/{{project.code}}/f" ng-show="release == null")
                    span.glyphicon.glyphicon-plus
                    span &nbsp; Create
                a.btn.btn-default.pull-right(ng-href="/c/p/{{project.code}}/r/{{release.code}}/f" ng-show="release != null")
                    span.glyphicon.glyphicon-plus
                    span &nbsp; Create
            table.table.table-hover.table-striped.table-condensed
                thead
                    tr
                        th Feature
                        th Description
                        th Actions
                tbody(ng-repeat="feature in features")
                    tr
                        td {{feature.name}}
                        td {{feature.description}}
                        td 
                            a.btn.btn-success(ng-href="/p/{{project.code}}/f/{{feature.code}}")
                                span.glyphicon.glyphicon-th-list
                                span &nbsp; View/Edit