.container(ng-show="project")
    include ../../main/views/partials/header
    .well
        h2
            span(ng-show="!edit.name")
                a.edit(ng-click="showEdit('name', true)" ng-mouseleave="hover.name = false" ng-mouseover="hover.name = true") {{feature.name}}
            span.glyphicon.glyphicon-pencil.small(ng-show="hover.name")
            span(ng-show="edit.name")
                form(name="nameForm")
                    input.form-control(name="feature.name" ng-model="feature.name" type="text" placeholder="Name" required)
                    button.btn.btn-success(ng-click="submitEdit('name')", ng-disabled="nameForm.$invalid")
                        span.glyphicon.glyphicon-ok
                    a.btn.btn-default(ng-click="cancelEdit('name')")
                        span.glyphicon.glyphicon-remove
    include ../../main/views/partials/nav
    .well
        div(ng-show="!edit.description")
            a.edit(ng-click="showEdit('description', true)" ng-mouseleave="hover.description = false" ng-mouseover="hover.description = true")
                span(ng-repeat="line in feature.description.split('\n') track by $index" ng-show="feature.description")
                    span.multi-line {{line}}
                        span.glyphicon.glyphicon-pencil.small(ng-if="$index == feature.description.split('\n').length - 1" ng-show="hover.description")
                em(ng-cloak ng-show="!feature.description") Click to add a description
        div(ng-show="edit.description")
            form(name="descriptionForm")
                textarea.form-control(name="feature.description" ng-model="feature.description" type="text" placeholder="Description" rows="10")
                button.btn.btn-success(ng-click="submitEdit('description')", ng-disabled="descriptionForm.$invalid")
                    span.glyphicon.glyphicon-ok
                a.btn.btn-default(ng-click="cancelEdit('description')")
                    span.glyphicon.glyphicon-remove