.container
    .well
        fieldset
            legend View/Edit Feature
            div()
                .form-group
                    .col-md-2
                        {{feature.name}}
                    .col-md-4
                        {{feature.description}}
                    