.container(ng-show="project")
    legend.colour3
        a.btn.btn-default.pull-right(ng-href="/c/p/{{project.code}}/f")
            span.glyphicon.glyphicon-plus.padr
            span Create
        h1 Features
        h2
            a(ng-href="/p/{{project.code}}") {{project.name}}
    nav.table
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}")
                span.glyphicon.glyphicon-th-list.padr(aria-label="List icon")
                span.small Project
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/r")
                span.glyphicon.glyphicon-gift.padr(aria-label="Gift icon")
                span.small Releases
        .col-md-2.colour3.padn
            a.box.btn.btn-block.colour3(ng-href="/p/{{project.code}}/f")
                span.glyphicon.glyphicon-apple.padr(aria-label="Apple icon")
                span.small Features
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/u")
                span.glyphicon.glyphicon-tree-deciduous.padr(aria-label="Tree icon")
                span.small User Stories
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/a")
                span.glyphicon.glyphicon-grain.padr(aria-label="Branch icon")
                span.small Acceptance Tests
        .col-md-2.column1.padn
            a.box.btn.btn-block.column1(ng-href="/p/{{project.code}}/s")
                span.glyphicon.glyphicon-leaf.padr(aria-label="Leaf icon")
                span.small System Tests
    .alert.alert-info.text-center(ng-show="!features.length") No features found
    table.table.table-hover.table-striped.table-condensed
        tbody(ng-repeat="feature in features")
            tr
                td
                    a(ng-href="/p/{{project.code}}/f/{{feature.code}}") {{feature.name}}
                td {{feature.description | limitTo: 100}}{{feature.description.length &gt; 100 ? '...' : ''}}
                td
                    .dropdown.pull-right
                        a.btn.btn-default(ng-href="/p/{{project.code}}/f/{{feature.code}}")
                            span.glyphicon.glyphicon-apple
                        button.btn.btn-default.dropdown-toggle(aria-haspopup="true", aria-expanded="true", data-toggle="dropdown", type="button")
                            span.caret
                        ul.dropdown-menu
                            li
                                a(ng-href="/p/{{project.code}}/f/{{feature.code}}")
                                    span.glyphicon.glyphicon-apple.padr
                                    span Manage
                            li.divider(role="separator")
                            li
                                a(ng-href="/p/{{project.code}}/f/{{feature.code}}/u")
                                    span.glyphicon.glyphicon-tree-deciduous.padr
                                    span User Stories
                            li
                                a(ng-href="/p/{{project.code}}/f/{{feature.code}}/a")
                                    span.glyphicon.glyphicon-grain.padr
                                    span Acceptance Tests
                            li
                                a(ng-href="/p/{{project.code}}/f/{{feature.code}}/s")
                                    span.glyphicon.glyphicon-leaf.padr
                                    span System Tests