.container(ng-show="project")
    include ../../main/views/partials/header
    .alert.alert-info.text-center(ng-show="!features.length") No features found
    table.table.table-hover.table-striped.table-condensed
        tbody(ng-repeat="feature in features")
            tr.clickable-row.row(ng-click="goTo(feature.code)")
                td.col-md-6
                    a(ng-href="/p/{{project.code}}/f/{{feature.code}}")
                        div {{feature.name}}
                td.col-md-6
                    a(ng-href="/p/{{project.code}}/f/{{feature.code}}")
                        div {{feature.description | limitTo: 100}}{{feature.description.length &gt; 100 ? '...' : ''}}