.container
    .well
        form.form-horizontal(name="releaseForm")
            fieldset
                legend.padlr
                    h1
                        small
                            span.glyphicon.glyphicon-th-list
                            span &nbsp; Create a release: {{project.name}}
                .form-group
                    .col-md-2.control-label
                        span.glyphicon.glyphicon-asterisk.text-danger
                        label(for="name") Name
                    .col-md-10
                        input.form-control(name="name", type="text", ng-model="name", required, placeholder="Release name")
                        .alert.alert-danger(role="alert", ng-show="releaseForm.name.$invalid && releaseForm.name.$dirty") Please enter a release
                .form-group
                    .col-md-2.control-label
                        label(for="name") Description
                    .col-md-10
                        textarea.form-control(name="description", type="text", ng-model="description", placeholder="Description")
                 .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-success(ng-click="submit()", ng-disabled="releaseForm.$invalid")
                                span.glyphicon.glyphicon-ok
                                span &nbsp; Create
                            | &nbsp;
                            a.btn.btn-default(href="/") Cancel