.container
    .well
        form.form-horizontal(name="releaseForm")
            fieldset
                legend
                    h1
                        span.glyphicon.glyphicon-gift.padr
                        span
                            a(ng-href="/project/{{project._id}}") {{project.name}}
                        span : Create a release
                .form-group
                    .col-md-2.control-label
                        span.glyphicon.glyphicon-asterisk.text-danger
                        label(for="name") Name
                    .col-md-10
                        input.form-control(name="name", type="text", ng-model="name", required, placeholder="Release name")
                        .alert.alert-danger(role="alert", ng-show="releaseForm.name.$invalid && releaseForm.name.$dirty") Please enter a release
                .form-group
                    .col-md-2.control-label
                        label(for="name") Description
                    .col-md-10
                        textarea.form-control(name="description", type="text", ng-model="description", placeholder="Description")
                 .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            span.padr
                                button.btn.btn-success(ng-click="submit()", ng-disabled="releaseForm.$invalid")
                                    span.glyphicon.glyphicon-ok.padr
                                    span Create
                            span
                                a.btn.btn-default(href="/release/{{project._id}}") Cancel