.container
    .well
        fieldset
            legend.colour2.pad
                span.glyphicon.glyphicon-gift &nbsp; Releases
                a.btn.btn-default.pull-right(href="/release/create/{{projectId}}")
                    span.glyphicon.glyphicon-plus
                    span &nbsp; Create
            table.table.table-hover.table-striped.table-condensed
                thead
                    tr
                        th Name
                        th Description
                        th Actions
                tbody(ng-repeat="release in releases")
                    tr
                        td {{release.name}}
                        td {{release.description}}
                        td 
                            a.btn.btn-block.colour3(href="/feature/{{release._id}}")
                                span.glyphicon.glyphicon-apple
                                span &nbsp; Features