.container(ng-show="project")
    include ../../main/views/partials/header
    .alert.alert-info.text-center(ng-show="!releases.length") No releases found
    table.table.table-hover.table-striped.table-condensed(ng-show="releases.length")
        tbody(ng-repeat="release in releases")
            tr.clickable-row.row(ng-click="goTo(release.code)")
                td.col-md-6
                    a(ng-href="/p/{{project.code}}/r/{{release.code}}")
                        div {{release.name}}
                td.col-md-6
                    a(ng-href="/p/{{project.code}}/r/{{release.code}}")
                        div {{release.description | limitTo: 100}}{{release.description.length &gt; 100 ? '...' : ''}}