.container
    .well
        fieldset
            legend.colour2.padlr
                h1
                    small
                        span.glyphicon.glyphicon-gift
                        span &nbsp; Releases: {{project.name}}
                    a.btn.btn-default.pull-right(href="/release/create/{{project._id}}")
                        span.glyphicon.glyphicon-plus
                        span &nbsp; Create
            table.table.table-hover.table-striped.table-condensed
                tbody(ng-repeat="release in releases")
                    tr
                        td
                            a(href="/release/{{project._id}}/{{release._id}}") {{release.name}}
                        td {{release.description}}
                        td
                            .dropdown.pull-right
                                a.btn.btn-default(ng-href="/release/{{project._id}}/{{release._id}}")
                                    span.glyphicon.glyphicon-gift
                                button.btn.btn-default.dropdown-toggle(aria-haspopup="true", aria-expanded="true", data-toggle="dropdown", type="button")
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(ng-href="/release/{{project._id}}/{{release._id}}")
                                            span.glyphicon.glyphicon-gift
                                            span &nbsp; Manage
                                    li.divider(role="separator")
                                    li
                                        a(href="#")
                                            span.glyphicon.glyphicon-apple
                                            span &nbsp; Features
                                    li
                                        a(href="#")
                                            span.glyphicon.glyphicon-tree-deciduous
                                            span &nbsp; User Stories
                                    li
                                        a(href="#")
                                            span.glyphicon.glyphicon-grain
                                            span &nbsp; Acceptance Tests
                                    li
                                        a(href="#")
                                            span.glyphicon.glyphicon-leaf
                                            span &nbsp; System Tests