.container
    .well
        a.btn.btn-success(href="/project/create")
            span.glyphicon.glyphicon-plus
            span &nbsp; Create
    .well
        fieldset
            legend View Projects
            table.table.table-hover.table-striped.table-condensed
                thead
                    tr
                        th Project
                        th Description
                        th Actions
                tbody(ng-repeat="project in projects")
                    tr
                        td {{project.project}}
                        td {{project.description}}
                        td 
                            a.btn.btn-success(href="/release/{{project._id}}")
                                span.glyphicon.glyphicon-th-list
                                span &nbsp; View Releases