.container
    .well
        form.form-horizontal(name="featureForm")
            fieldset
                legend Feature
                .form-group
                    .col-md-2.control-label
                        span.glyphicon.glyphicon-asterisk.text-danger
                        label(for="feature") Feature
                    .col-md-10
                        .input-group
                .form-group
                    label.col-md-2.control-label(for="name") Name
                    .col-md-10
                        input.form-control(name="name", type="text", placeholder="Please enter a feature name...", ng-model="name", required)
                        .alert.alert-danger(role="alert", ng-show="featureForm.name.$invalid && featureForm.name.$dirty") Please enter a name
                .form-group
                .form-group
                    label.col-md-2.control-label(for="description") Description
                    .col-md-10
                        input.form-control(name="description", type="multitext", placeholder="Please enter a feature description...", ng-model="description", required)
                        .alert.alert-danger(role="alert", ng-show="featureForm.description.$invalid && featureForm.description.$dirty") Please enter a name
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="create()", ng-disabled="featureForm.$invalid") Share
                            | &nbsp;
                            a.btn.btn-default(href="/") Cancel