.container
    .well
        a.btn.btn-success(href="/feature/create")
            span.glyphicon.glyphicon-plus
            span &nbsp; Create
    .well
        fieldset
            legend View Features
            div(ng-repeat="feature in features")
                .form-group
                    .col-md-5
                        {{feature.name}}
                    .col-md-7
                        {{feature.description}}