doctype
html
    head
        title SpecSaver - Maxtreme Testing
        base(href="/")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app='app')
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href="/") SpecSaver
                        h6 Test all the things
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/") Home
                        li
                            a(href="/quote") Quote
                        li
                            a(href="/release") Release
                        li 
                            a(href="/project") Project
                        li
                            a(href="/feature") Feature
        block main-content
        footer.container.text-center
            img(ng-src="images/allthethings.png")
            div(ng-controller="mvMainCtrl")
                div(page-quote)
        include scripts